<!doctype html>
<html>

    <head>
        <meta charset="utf-8">
        <title>Nodeships - Node.js Battleships</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#ffae00">
    </head>

    <body>

        <h1>Nodeships</h1>
        <p>Node.js Battleships</p>

        <p>@todo: typescript</p>
        <p><a href="https://github.com/Woofenator/battleships" target="_blank">Māra kods</a></p>

    </body>

</html>
