<!doctype html>
<html class="no-js" lang="">

    <head>
        <meta charset="utf-8">
        <title>Nodeships - Node.js Battleships</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#ffae00">
    </head>

    <body>

        h1 Nodeships
        p Node.js Battleships

    </body>

</html>
